.encode-decode {
    width: 600px;
    padding: 10px;
}
.form-row {
    margin: 3px;
    padding: 3px;
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
}
.form-row label {
    width: 30%;
}
.form-row textarea {
    flex-grow: 1;
    padding: 6px;
}
.form-btns {
    flex-grow: 1;
    display: flex;
}
.form-btns input {
    padding: 6px;
    flex-grow: 1;
}